<div class="modal fade postLists">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Posts</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="m_left">
                    <h2>Todos los posts</h2>
                    <div class="searchbox form-group">
                        <input type="text" placeholder="Buscar..." name="search" class="search form-control" />
                    </div>
                    <div class="content">
                        <ul>
                            <li>
                                <div class="id">
                                    <img class="thumbnail"></img>
                                    <span class="title"></span>
                                    <div class="date"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m_right">
                    <h2>Post Vinculados</h2>
                    <div class="content">
                        <ul>
                            <li>
                                <div class="id">
                                    <img class="thumbnail"></img>
                                    <span class="title"></span>
                                    <div class="date"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
